In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/tt_data_for_ml.csv")[:10000]
# print(len(data)) # 1400000
data.columns
data.isna().any()

id              False
t_travtime      False
lat_d           False
lon_d           False
lat_o           False
lon_o           False
od_dist         False
year            False
t_time_start    False
o_type_ageb     False
o_type_dist     False
d_type_ageb     False
d_type_dist     False
taxi            False
wt_tottrips     False
ageb_eod1990    False
t_distr_o       False
t_distr_d       False
dtype: bool

In [3]:
data.head()

,id,t_travtime,lat_d,lon_d,lat_o,lon_o,od_dist,year,t_time_start,o_type_ageb,o_type_dist,d_type_ageb,d_type_dist,taxi,wt_tottrips,ageb_eod1990,t_distr_o,t_distr_d
0,1,40.0,19.378813,-99.119835,19.436481,-99.160004,7.732718,1994,1600.0,0,1,1,0,0,281.0,9007032,2,13
1,2,30.0,19.436481,-99.160004,19.378813,-99.119835,7.732718,1994,730.0,1,0,0,1,0,257.0,9007032,13,2
2,4,5.0,19.378813,-99.119835,19.376709,-99.117508,1.423484,1994,805.0,0,1,1,0,0,324.0,9007032,13,13
3,5,10.0,19.378813,-99.119835,19.376709,-99.117508,1.423484,1994,1350.0,0,1,1,0,0,498.0,9007032,13,13
4,7,60.0,19.355120,-99.067688,19.378813,-99.119835,6.098191,1994,700.0,1,0,0,1,0,319.0,9007032,13,39

In [ ]:
data.describe()
data.dtypes

'''
Prediction: t_traveltime
'''

''' 
Features: 
['id':           int64, NOT USEFUL 


'lat_d',            positional embedding? c
'lon_d',            longitude latitude
'lat_o',            
'lon_o',
# Spatial conditions 

'od_dist',          IMPORTANT distance km: learned distance


'year',             NOT USEFUL stack N *3 ? 
't_time_start',  time of trip starting  hh/mm 16:00 ? congested? 

'o_type_ageb', indicator of geo 2 census tract
                 1: ori dest they home
'o_type_dist', 
'd_type_ageb',
'd_type_dist', 

'taxi',  1. taxi trip
'wt_tottrips', weights of sensitivity
'ageb_eod1990', 
't_distr_o',
't_distr_d']


outliers do not delete
'''